{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "uglify": true
      },
      "modules": false,
      "exclude": [
        "transform-regenerator"
      ]
    }],
    "flow"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-object-rest-spread"
  ],
  "env": {
    "lib": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "dist": {
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
