{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current",
        "uglify": true
      },
      "modules": false,
      "exclude": [
        "transform-regenerator"
      ]
    }],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from"
  ],
  "env": {
    "lib": {
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    },
    "dist": {
      "plugins": []
    }
  }
}
