{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "uglify": true
      },
      "modules": false,
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    "external-helpers",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ],
  "env": {
    "build": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
